{% load static %}
<!DOCTYPE html>
<html lang="ar" class="h-100" dir="rtl">

    <head>
        <title>Project Managment</title>
        <link href="{% static 'bootstrap/bootstrap.rtl.min.css' %}" rel="stylesheet" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'bootstrap/font/bootstrap-icons.css' %}">
        <link rel="stylesheet" href="{% static 'bootstrap/font/bootstrap-icons.min.css' %}">
    </head>
    <body class="d-flex flex-column h-100 bg-light">
        {% include 'partials/header.html' %}
        <main class="flex-shrink-0">
            <div class="container mt-5">
                {% block content %}
                {% endblock %}
            </div>
        </main>
        {% include 'partials/footer.html' %}
        <script src="{% static 'bootstrap/bootstrap.bundle.min.js' %}" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>